@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


@font-face {
  font-family: "Minecraft";
  src: local("Minecraft"), url(./fonts/Minecraft/Minecraft-Regular.otf) format("truetype");
}
@font-face {
  font-family: "Ancient-Modern-Tales";
  src: local("Ancient-Modern-Tales"), url(./fonts/ancient-modern-tales/Ancient-Modern-Tales.otf) format("truetype");
}